.container-right {
    height: 296px;
    width: 301px;
    position: relative;
    right: 186px;
    float: right;
    margin: 30px 0 30px -180px;

    .title {
        height: 120px;
        width: 300.93px;
        margin-top: 0;
    }

    .main-text {
        height: 156px;
        width: 300.93px;
        margin-top: 21px;
    }
}