*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

.container {
  position: relative;
}