@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Source+Sans+Pro:wght@400;700&display=swap');

html,
body {
  overflow-x: hidden;
}

h2 {
    font-family: $font1;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 40px;
    color: map-get($colors, --clr-accent);
}

h3 {
    font-family: $font2;
    font-size: 14px;
    font-weight: 600;
    color: map-get($colors, --clr-neutral, 100);
}

p {
    font-family: $font1;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.2px;
    line-height: 26px;
    color: map-get($colors, --clr-neutral, 400);
}
